.App {
  text-align: center;
  background-color:  #0f223a;
  height: 60px;
}
html { 
  background-color: white;
}

.navbar {
  display: flex;
  align-items: center;
  position: sticky;
  height: 60px;
  top: 0;
  z-index: 100;
}

.navtext {
  font-size: 20px;
  font-weight: 800;
  display: flex;
  justify-content: space-evenly;
  color: white;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  margin: 50px;
}

.logo {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 2%;
}
h1 {
  display: block;
  text-align: center;
}
.home{
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 10px;
 }

.input{
  margin: 25px;
  justify-content: center;
}
img{
  width: 200px;
  height: 200px;
}


.product{
  /* border: solid black 1px; */
}

.cartproduct{
  display: flex;
}
.cartpage{
  align-items: center;
  justify-content: center;
  display:flex;
  flex-direction: column;
}

button {
  display: block;
  margin: auto;
  background-color: #0d3567;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  padding: 5px;
}